.bulletPoint {
    border-radius: var(--sizing-2);
    border: 2px solid;
    border-color: var(--tertiary-color);
    width: var(--sizing-2);
    height: var(--sizing-2);
    margin: 8px var(--sizing-1) var(--sizing-1);
}

.bulletPointConnector {
    width: 2px;
    flex: 1 1 0;
    background-color: var(--tertiary-color);
}

.bulletPointEnd {
    width: var(--sizing-2);
    margin-left: auto;
    margin-right: auto;
    height: 2px;
    background-color: var(--tertiary-color);
}

.mainText {
    font-size: var(--sizing-4);
    font-weight: 600;
}

.resumeItem {
    margin-bottom: var(--sizing-4);
}

.resumeItemTitle {
    user-select: none;
    column-gap: var(--sizing-2);
}

.resumeItemTitle:hover {
    cursor: pointer;
}

.description {
    margin-top: var(--sizing-4);
    height: 100%;
    transition: all var(--transition-time) ease-out;
    user-select: none;
}

.descriptionHidden {
    margin-top: var(--sizing-0);
    height: var(--sizing-0);
    opacity: 0;
}

.divider {
    color: var(--tertiary-color) !important;
}

.expander {
    width: var(--sizing-6);
    filter: var(--svg-icon-filter-tertiary) !important;
}

.rotateExpanded {
    transform: rotate(90deg);
    transition: transform var(--transition-time);
}

.rotateCollapsed {
    transform: rotate(0deg);
    transition: transform var(--transition-time);
}