.bulletPoint {
    border-radius: 10px;
    border: 2px solid;
    border-color: var(--tertiary-color);
    width: 10px;
    height: 10px;
    margin: 8px 5px 5px 5px;
}

.bulletPointConnector {
    width: 2px;
    flex: 1 1 0;
    background-color: var(--tertiary-color);
}

.bulletPointEnd {
    width: 10px;
    margin-left: auto;
    margin-right: auto;
    height: 2px;
    background-color: var(--tertiary-color);
}

.mainText {
    font-size: 20px;
    font-weight: 600;
}

.resumeItem {
    margin-bottom: 20px;
}

.resumeItemTitle {
    user-select: none;
    column-gap: 10px;
}

.resumeItemTitle:hover {
    cursor: pointer;
}

.description {
    margin-top: 20px;
    height: 100%;
    transition: all .25s ease-out;
    user-select: none;
}

.descriptionHidden {
    margin-top: 0px;
    height: 0px;
    opacity: 0;
}

.divider {
    color: var(--tertiary-color) !important;
}

.expander {
    width: 30px;
    filter: var(--svg-icon-filter-tertiary) !important;
}

.rotateExpanded {
    transform: rotate(90deg);
    transition: transform .25s;
}

.rotateCollapsed {
    transform: rotate(0deg);
    transition: transform .25s;
}