.loaderCircleContainer {
    column-gap: 3px;
    width: max-content;
}

.loaderCircle {
    border-radius: var(--sizing-2);
    background-color: var(--tertiary-color);
    width: var(--sizing-3);
    height: var(--sizing-3);
}