.mainText {
    font-size: var(--sizing-4);
    font-weight: 600;
}

.resumeItem {
    margin-bottom: var(--sizing-4);
}

.resumeItemTitle {
    user-select: none;
    cursor: pointer;
    column-gap: var(--sizing-2);
}

.description {
    margin-top: var(--sizing-3);
}

.divider {
    color: var(--tertiary-color) !important;
}

.expander {
    width: var(--sizing-6);
    filter: var(--svg-icon-filter-tertiary) !important;
}

.rotateExpanded {
    transform: rotate(90deg);
    transition: transform var(--transition-time);
}

.rotateCollapsed {
    transform: rotate(0deg);
    transition: transform var(--transition-time);
}