.onClickButtonComponent {
    padding: var(--sizing-1);
    cursor: pointer;
    font-weight: 500;
    border: var(--border-size) solid var(--primary-color);
    transition: border-color var(--transition-time);
    width: max-content;
    box-shadow: var(--sizing-1) var(--sizing-1) var(--sizing-1) var(--box-shadow-color);
    border-radius: var(--sizing-1);
    user-select: none;
}

.onClickButtonComponent:hover {
    border-color: var(--tertiary-color-hover);
}

.onClickButtonComponent:active {
    transition: border-color var(--transition-time-fast);
    border-color: var(--tertiary-color-active);
}