.spacing {
    margin-bottom: var(--sizing-3);
}

.removableFormStyle {
    width: calc(100% - (2*var(--sizing-3) + 2*var(--border-size)));
    border: var(--border-size) solid var(--primary-color);
    padding: var(--sizing-3);
    border-radius: var(--sizing-2);
}

.svgIcon {
    width: var(--sizing-6);
    cursor: pointer;
    transition: opacity var(--transition-time);
}

.svgIcon:hover {
    opacity: .5;
}

.icon {
    width: var(--sizing-3);
    filter: var(--svg-icon-filter);
}

.labelStyle {
    font-size: var(--sizing-3);
    font-weight: 600;
    margin-bottom: var(--sizing-1);
}

.closeIconSpacing {
    margin-left: var(--sizing-3);
}

.uploadButton {
    text-decoration: none;
    cursor: pointer;
    transition: color var(--transition-time);
}

.uploadButton:hover {
    color: var(--tertiary-color-hover)
}