.spacing {
    margin-bottom: var(--sizing-3);
}

.border {
    border: 1px solid var(--primary-color);
    padding: var(--sizing-3);
    border-radius: var(--sizing-2);
}

.svgIcon {
    width: var(--sizing-6);
    margin-right: var(--sizing-3);
    cursor: pointer;
    transition: opacity var(--transition-time);
}

.svgIcon:hover {
    opacity: .5;
}

.icon {
    width: var(--sizing-3);
    filter: var(--svg-icon-filter);
}