:root {
  font-family: Lato, Helvetica, Arial, Lucida, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --tertiary-color: #16c60c;
  --svg-icon-filter-tertiary: invert(45%) sepia(97%) saturate(1408%) hue-rotate(82deg) brightness(106%) contrast(96%);

  --sizing-0: 0px;
  --sizing-1: 5px;
  --sizing-2: 10px;
  --sizing-3: 15px;
  --sizing-4: 20px;
  --sizing-5: 25px;
  --sizing-6: 30px;

  --transition-time: .25s;
}

body {
  margin: var(--sizing-0);
}

h1 {
  margin: var(--sizing-0);
}

p {
  margin: var(--sizing-0);
}

a {
  text-decoration: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --primary-color: #000000;
    --secondary-color: #f3f3f3;
    --svg-icon-filter: invert(0%) sepia(100%) saturate(7461%) hue-rotate(347deg) brightness(105%) contrast(111%);
    --box-shadow-color: #808080;

    color: var(--primary-color);
    background-color: var(--secondary-color);
  }

  a {
    color: var(--primary-color);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #ffffff;
    --secondary-color: #222222;
    --svg-icon-filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(157deg) brightness(116%) contrast(101%);
    --box-shadow-color: #222222;

    color: var(--primary-color);
    background-color: var(--secondary-color);
  }

  a {
    color: var(--primary-color);
  }
}
