.skillItemIcon {
    width: var(--sizing-6);
    margin-right: var(--sizing-3);
    cursor: pointer;
    transition: opacity var(--transition-time);
}

.skillItemIcon:hover {
    opacity: .5;
}

.technicalSectionMargin {
    margin-bottom: var(--sizing-6);
}

.closeIcon {
    width: var(--sizing-3);
    filter: var(--svg-icon-filter);
}

.closeIconSpacing {
    margin-left: var(--sizing-3);
}

.plusIcon {
    width: var(--sizing-3);
    filter: var(--svg-icon-filter);
}

.container {
    margin-bottom: var(--sizing-3);
}