.baseInputLabel {
    font-size: var(--sizing-3);
    font-weight: 600;
    margin-bottom: var(--sizing-1);
}

.required {
    color: var(--required-color);
}

.error {
    color: var(--error-color);
    font-size: var(--sizing-2);
    margin-top: var(--sizing-1);
}

input {
  background-color: unset;
  border: 2px solid var(--primary-color);
}

input:focus {
  outline: none;
}

textarea {
  background-color: unset;
  border: 2px solid var(--primary-color);
}

textarea:focus {
  outline: none;
}