.blogContainer {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.blogFilterGap {
    gap: 10px;
}

.blogClearFilters {
    color: #D80015;
    cursor: pointer;
    user-select: none;
}