.blogContainer {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.blogFilterColumnGap {
    column-gap: 10px;
}

.blogCardShadow {
    box-shadow: 5px 5px 5px var(--box-shadow-color);
}