.name {
    font-size: 30px;
    font-weight: 800;
}

.headerBar {
    position: relative;
    height: 70px;
}

.headerTitle {
    padding-left: 10px;
    border-left: 3px solid var(--tertiary-color);
}

.hamburgerMenuStyle {
    width: 30px;
    cursor: pointer;
    user-select: none;
    filter: var(--svg-icon-filter);
}

.navigationItem {
    user-select: none;
    text-decoration: none;
    transition: color .25s;
}

.navigationItemSelectable:hover {
    color: var(--tertiary-color);
}

.navigationItemSelected {
    color: var(--tertiary-color);
}

.mobileMenu {
    position: absolute;
    top: 70px;
    left: 0px;
    width: 100%;
    z-index: 100;
    overflow: hidden;
    background-color: var(--secondary-color);
    transition: all .25s;
}

.mobileItemsBox {
    height: 150px;
}

.expandedState {
    height: calc(100vh - 100px);
}

.collapseState {
    height: 0%;
}