.buttonComponent {
    padding: 5px;
    cursor: pointer;
    font-weight: 500;
    border: 2px solid ;
    border-color: var(--primary-color);
    transition: border-color .25s;
    width: max-content;
    box-shadow: 5px 5px 5px var(--box-shadow-color);
    border-radius: 5px;
}

.buttonComponent:hover {
    border-color: var(--tertiary-color);
}