.bulletPoint {
    border-radius: var(--sizing-2);
    border: 2px solid;
    border-color: var(--tertiary-color);
    width: var(--sizing-2);
    height: var(--sizing-2);
    margin: 8px var(--sizing-1) var(--sizing-1);
}

.bulletPointConnector {
    width: 2px;
    flex: 1 1 0;
    background-color: var(--tertiary-color);
}

.bulletPointEnd {
    width: var(--sizing-2);
    margin-left: auto;
    margin-right: auto;
    height: 2px;
    background-color: var(--tertiary-color);
}