.windowContainer {
    box-shadow: 10px 10px 5px var(--box-shadow-color);
    max-width: 100%;
}

.xpWindowStyle {
    background-color: #e1ddd2;
    padding: 5px;
    row-gap: 3px;
    box-shadow: -2px -2px #94908a inset;
}

.xpToolbarStyle {
    background: linear-gradient(90deg, rgba(1,84,228,1) 0%, rgba(72,153,252,1) 100%);
    color: #ffffff;
    align-content: center;
    height: 30px;
}

.xpButtonStyle {
    padding: 5px;
    width: 10px;
    background-color: #e1ddd2;
    box-shadow: -1px -1px 1px #000000 inset;
}

.xpButtonStyle:hover {
    cursor: pointer;
}

.xpButtonStyle:active {
    background-color: #96948e;
}

.xpButtonsStyle {
    column-gap: 2px;
    padding-right: 2px;
}

.sevenWindowStyle {
    background-color: #0f5c9fc9;
    padding: 0px 5px 5px 5px;
    border: 1px solid #000000;
}

.sevenToolbarStyle {
    color: #000000;
    align-content: center;
    height: 30px;
}

.sevenButtonsStyle {
    width: 100px;
}

.sevenButtonNormalStyle {
    flex: 1;
    height: 20px;
    background: rgb(176,204,224);
    background: linear-gradient(180deg, #b0cce0 15%, #8aacc7 44%, #43739b 58%, #5680ab 85%);
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}

.sevenButtonNormalImageStyle {
    width: 10px;
    filter: invert(95%) sepia(95%) saturate(21%) hue-rotate(6deg) brightness(104%) contrast(107%);
}

.sevenButtonNormalStyle:hover {
    cursor: pointer;
    background: rgb(189, 219, 241);
    background: linear-gradient(180deg, rgba(189,219,241,1) 15%, rgba(149,186,215,1) 44%, rgba(77,132,179,1) 58%, rgba(97,143,191,1) 85%);
}

.sevenButtonNormalStyle:active {
    background: rgb(157,181,198);
    background: linear-gradient(180deg, rgba(157,181,198,1) 15%, rgba(120,150,173,1) 44%, rgba(59,101,136,1) 58%, rgba(75,112,149,1) 85%);
}

.sevenButtonMinimizeStyle {
    border-bottom-left-radius: 5px;
}

.sevenButtonCloseStyle {
    flex: 2;
    height: 20px;
    background: rgb(218,161,158);
    background: linear-gradient(180deg, rgba(218,161,158,1) 15%, rgb(205, 119, 111, 1) 44%, rgba(184, 55, 41, 1) 58%, rgba(154, 75, 68, 1) 85%);
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-bottom-right-radius: 5px;
}

.sevenButtonCloseImageStyle {
    width: 10px;
    filter: invert(95%) sepia(95%) saturate(21%) hue-rotate(6deg) brightness(104%) contrast(107%);
}

.sevenButtonCloseStyle:hover {
    cursor: pointer;
    background: rgb(212,154,150);
    background: linear-gradient(180deg, rgba(212,154,150,1) 15%, rgba(218,126,118,1) 44%, rgba(198,60,43,1) 58%, rgba(172,83,75,1) 85%);
}

.sevenButtonCloseStyle:active {
    background: rgb(189,138,135);
    background: linear-gradient(180deg, rgba(189,138,135,1) 15%, rgba(172,99,92,1) 44%, rgba(159,48,35,1) 58%, rgba(124,60,55,1) 85%);
}

.sevenWindowTitle {
    text-shadow: 0px 0px 1em #ffffff;
}

.sevenContentStyle {
    border: 1px solid #ffffff;
}

.tenWindowStyle {
    border: solid #0c0c0c 1px;
}

.tenToolbarStyle {
    background-color: #ffffff;
    color: #000000;
    align-content: center;
    height: 30px;
}

.tenButtonNormalStyle {
    padding: 10px;
    width: 10px;
}

.tenButtonCloseStyle {
    padding: 10px;
    width: 10px;
}

.tenButtonNormalStyle:hover {
    cursor: pointer;
    background-color: #e5e5e5;
}

.tenButtonNormalStyle:active {
    background-color: #cacaca;
}

.tenButtonCloseStyle:hover {
    cursor: pointer;
    background-color: #e8111f;
}

.tenButtonCloseStyle:active {
    background-color: #b30b16;
}

.windowTitle {
    padding-left: 10px;
    align-content: center;
}