.resourcesContainer {
    row-gap: var(--sizing-3);
}

.resourcesTitle {
    border-bottom: 3px solid var(--tertiary-color);
}

.linkContent {
    color: var(--tertiary-color);
    cursor: pointer;
    text-decoration: underline;
    margin-top: var(--sizing-3);
}