.spacing {
    margin-bottom: var(--sizing-3);
}

.label {
    font-size: var(--sizing-3);
    font-weight: 600;
    margin-bottom: var(--sizing-1);
}

.closeIconSpacing {
    margin-left: var(--sizing-3);
}

.icon {
    width: var(--sizing-3);
    filter: var(--svg-icon-filter);
}

.border {
    border: 1px solid var(--primary-color);
    padding: var(--sizing-3);
    border-radius: var(--sizing-2);
}