.container {
    border: 1px solid var(--border-color);
}

.field {
    margin-bottom: var(--sizing-3);
}

.label {
    font-size: var(--sizing-3);
    font-weight: 600;
    margin-bottom: var(--sizing-1);
}

.closeIcon {
    width: var(--sizing-3);
    filter: var(--svg-icon-filter);
}

.closeIconSpacing {
    margin-left: var(--sizing-3);
}

.plusIcon {
    width: var(--sizing-3);
    filter: var(--svg-icon-filter);
}