.label {
    font-size: var(--sizing-3);
    font-weight: 600;
    margin-bottom: var(--sizing-1);
}

.container {
    margin-bottom: var(--sizing-3);
}

.descriptionSpacing {
    column-gap: var(--sizing-3);
}

.closeIcon {
    width: var(--sizing-3);
    filter: var(--svg-icon-filter);
}

.plusIcon {
    width: var(--sizing-3);
    filter: var(--svg-icon-filter);
}