.layoutContainer {
    padding: var(--sizing-6);
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    min-height: calc(100vh - 60px);
}

.outletContainer {
    flex-grow: 1;
    position: relative;
}

.scrollTopButton {
    position: sticky;
    float: right;
    bottom: var(--sizing-6);
    background-color: var(--tertiary-color);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition: all var(--transition-time);
    margin-top: var(--sizing-6);
}

.scrollTopButton:hover {
    background-color: var(--tertiary-color-hover);
}

.scrollTopButton:active {
    background-color: var(--tertiary-color-active);
}

.scrollTopButtonHide {
    opacity: 0;
    pointer-events: none;
}

.scrollTopIcon {
    width: var(--sizing-6);
    rotate: -90deg;
}