.terminalBody {
    background-color: #0c0c0c;
    padding: 5px;
    color: var(--tertiary-color) !important;
}

.blinkFilled {
    background-color: white;
}

.blinkEmpty { 
    background-color: unset;
}