.desktopBlogArticleContainer {
    margin-inline: auto;
    width: 70%;
}

.mobileBlogArticleContainer {
    width: 100%;
}

.blogArticleContent {
    margin-top: var(--sizing-6);
}

.button {
    width: var(--sizing-6);
}