.svgIcon {
    width: var(--sizing-6);
    cursor: pointer;
    transition: opacity var(--transition-time);
}

.svgIcon:hover {
    opacity: .5;
}

.labelStyle {
    font-size: var(--sizing-3);
    font-weight: 600;
    margin-bottom: var(--sizing-1);
}

.closeIconSpacing {
    margin-left: var(--sizing-3);
}

.uploadButton {
    text-decoration: none;
    cursor: pointer;
    transition: color var(--transition-time);
}

.uploadButton:hover {
    color: var(--tertiary-color-hover)
}