.svgIcon {
    width: var(--sizing-6);
}

.labelStyle {
    font-size: var(--sizing-3);
    font-weight: 600;
    margin-bottom: var(--sizing-1);
}

.closeIconSpacing {
    margin-left: var(--sizing-3);
}