.cardContainer{
    border: var(--border-size) solid var(--primary-color);
    border-radius: var(--sizing-1);
    transition: border-color var(--transition-time);
    user-select: none;
    box-shadow: var(--sizing-2) var(--sizing-2) var(--sizing-1) var(--box-shadow-color);
    cursor: pointer;
}

.cardContainer:hover {
    border-color: var(--tertiary-color-hover);

    .underlineItem::after {
        width: 100%;
    }
}

.cardImageSide {
    width: 200px;
    object-fit: cover;
}

.cardImageStacked {
    width: 100%;
    object-fit: cover;
}

.cardContent {
    padding: var(--sizing-4);
}

.cardContentTitle {
    font-size: var(--sizing-4);
    font-weight: 800;
}

.cardContentDescription {
    margin-top: var(--sizing-2);
    margin-bottom: var(--sizing-2);
}

.underlineItem {
    display: inline-block;
    position: relative;
}

.underlineItem::after {
    content: '';
    position: absolute;
    bottom: var(--sizing-0);
    left: var(--sizing-0);
    width: var(--sizing-0);
    height: 2px;
    background-color: var(--tertiary-color);
    transition: width var(--transition-time) ease;
}