.textInputBox {
    padding: var(--sizing-1);
    width: calc(100% - 2 * var(--sizing-2));
    border-radius: var(--sizing-2);
    transition: border-color var(--transition-time);
}

.textInputBox:focus {
    border-color: var(--tertiary-color);
}