.textInputBox {
    padding: var(--sizing-1);
    width: calc(100% - 2 * var(--sizing-2));
    border-radius: var(--sizing-1);
    transition: border-color var(--transition-time);
    border: var(--border-size) solid var(--primary-color);
}

.textInputBox:focus {
    border-color: var(--tertiary-color);
    outline: none;
}