.homeStyling {
    margin-top: 10vh;

    .desktopContainer {
        margin-left: auto;
        margin-right: auto;
        min-width: 400px;
        width: 60%;
    }

    .mobileContainer {
        width: 100%;
    }

    .contactContainer {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .contactIcon {
        width: 40px;
        filter: var(--svg-icon-filter);
        vertical-align: bottom;
    }

    .contactIcon:hover {
        filter: var(--svg-icon-filter-tertiary);
        cursor: pointer;
    }

    .terminalShadow {
        box-shadow: 10px 10px 5px var(--box-shadow-color);
    }

    .buttonShadow {
        box-shadow: 5px 5px 5px var(--box-shadow-color);
    }
}