.homeStyling {
    .introTextWidthDesktop {
        width: 60%;
    }

    .introTextWidthMobile {
        width: 100%;
    }

    .contactContainer {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .contactIcon {
        width: 40px;
        filter: var(--svg-icon-filter);
    }

    .contactIcon:hover {
        cursor: pointer;
    }

    .terminalShadow {
        box-shadow: 10px 10px 5px var(--box-shadow-color);
    }

    .buttonShadow {
        box-shadow: 5px 5px 5px var(--box-shadow-color);
    }
}