.desktopResumeContainer {
    margin-inline: auto;
    min-width: 400px;
    width: 70%;
}

.mobileResumeContainer {
    width: 100%;
}

.sectionTitle {
    font-size: var(--sizing-4);
    font-weight: 600;
    border-bottom: 2px solid;
    border-bottom-color: var(--tertiary-color) !important;
    width: max-content;
    margin-top: var(--sizing-3);
    margin-bottom: var(--sizing-3);
}

.technicalSectionMargin {
    margin-bottom: var(--sizing-6);
}

.editButton {
    width: var(--sizing-6);
    filter: var(--svg-icon-filter)
}