.desktopResumeContainer {
    margin-inline: auto;
    min-width: 400px;
    width: 70%;
}

.mobileResumeContainer {
    width: 100%;
}

.sectionTitle {
    font-size: var(--sizing-4);
    font-weight: 600;
    border-bottom: var(--border-size) solid var(--tertiary-color);
    width: max-content;
    margin-bottom: var(--sizing-3);
}

.errorText {
    color: var(--error-color);
}