.desktopResumeContainer {
    margin-inline: auto;
    min-width: 400px;
    width: 70%;
}

.mobileResumeContainer {
    width: 100%;
}

.sectionTitle {
    font-size: 20px;
    font-weight: 600;
    border-bottom: 2px solid;
    border-bottom-color: var(--tertiary-color) !important;
    width: max-content;
    margin-top: 10px;
    margin-bottom: 10px;
}

.skillItemIcon {
    width: 30px;
    margin-right: 10px;
}

.technicalSectionMargin {
    margin-bottom: 30px;
}