.desktopHomeContainer {
    margin-inline: auto;
    min-width: 400px;
    width: 60%;
}

.mobileHomeContainer {
    width: 100%;
}

.title {
    margin-top: var(--sizing-0);
}

.contactContainer {
    margin-top: var(--sizing-4);
}

.contactIcon {
    width: 40px;
    filter: var(--svg-icon-filter);
    vertical-align: bottom;
}

.contactIcon:hover {
    filter: var(--svg-icon-filter-tertiary);
    cursor: pointer;
}