.filterButtonContainer {
    width: max-content;
    padding: var(--sizing-1);
    border: 2px solid;
    border-color: var(--primary-color);
    border-radius: var(--sizing-3);
    transition: all var(--transition-time);
    user-select: none;
    box-shadow: var(--sizing-1) var(--sizing-1) var(--sizing-1) var(--box-shadow-color);
}

.filterButtonContainer:hover {
    border-color: var(--tertiary-color);
    cursor: pointer;
}

.selected {
    background-color: var(--tertiary-color);
    border-color: var(--tertiary-color);
}

.blogFilterGap {
    gap: var(--sizing-3);
}

.blogClearFilters {
    color: #D80015;
    cursor: pointer;
    user-select: none;
}