.terminalBody {
    background-color: #0c0c0c;
    padding: var(--sizing-1);
    color: var(--tertiary-color) !important;
}

.blinkFilled {
    background-color: white;
}

.blinkEmpty { 
    background-color: unset;
}