.name {
    font-size: 30px;
    font-weight: 800;
}

.headerMargin {
    margin: 30px;
}

.navigationItem {
    user-select: none;
    text-decoration: none;
}

.navigationItemSelectable:hover {
    color: #60cc60 !important;
}

.navigationItemSelected {
    color: #60cc60 !important
}