.flexRow {
    display: flex;
    flex-direction: row;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.flexWrap {
    flex-wrap: wrap;
}

.flexWrapReverse {
    flex-wrap: wrap-reverse;
}

.flexGap {
    gap: 30px;
}

.rowGap {
    row-gap: 30px;
}

.columnGap {
    column-gap: 30px;
}

.alignItemsCenter {
    align-items: center;
}

.alignItemsStart {
    align-items: start;
}

.alignItemsEnd {
    align-items: end;
}

.justifyContentAround {
    justify-content: space-around;
}

.justifyContentCenter {
    justify-content: center;
}

.justifyContentStart {
    justify-content: start;
}

.justifyContentBetween {
    justify-content: space-between;
}

.justifyContentEnd {
    justify-content: end;
}