.flexRow {
    display: flex;
    flex-direction: row;
}

.inlineFlexRow {
    display: inline-flex;
    flex-direction: row;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.flexWrap {
    flex-wrap: wrap;
}

.flexWrapReverse {
    flex-wrap: wrap-reverse;
}

.flexGrow {
    flex-grow: 1;
}

.flexGap {
    gap: var(--sizing-6);
}

.rowGap {
    row-gap: var(--sizing-6);
}

.columnGap {
    column-gap: var(--sizing-6);
}

.alignItemsCenter {
    align-items: center;
}

.alignItemsStart {
    align-items: start;
}

.alignItemsEnd {
    align-items: end;
}

.justifyContentAround {
    justify-content: space-around;
}

.justifyContentCenter {
    justify-content: center;
}

.justifyContentStart {
    justify-content: start;
}

.justifyContentBetween {
    justify-content: space-between;
}

.justifyContentEnd {
    justify-content: end;
}

.quarterWidth {
    width: 25%;
}

.halfWidth {
    width: 50%;
}

.fullWidth {
    width: 100%;
}