.spacing {
    margin-bottom: var(--sizing-3);
}

.uploadButton {
    text-decoration: none;
    cursor: pointer;
    transition: color var(--transition-time);
}

.uploadButton:hover {
    color: var(--tertiary-color-hover)
}