.name {
    font-size: var(--sizing-6);
    font-weight: 800;
}

.headerBar {
    position: relative;
    height: 70px;
}

.headerTitle {
    padding-left: var(--sizing-2);
    border-left: 3px solid var(--tertiary-color);
}

.hamburgerMenuStyle {
    width: var(--sizing-6);
    cursor: pointer;
    user-select: none;
    filter: var(--svg-icon-filter);
}

.navigationItem {
    user-select: none;
    text-decoration: none;
    transition: color var(--transition-time);
}

.navigationItemSelectable:hover {
    color: var(--tertiary-color);
}

.navigationItemSelected {
    color: var(--tertiary-color);
}

.mobileMenu {
    position: absolute;
    top: 85px;
    left: calc(-1 * var(--sizing-6));
    width: calc(100% + calc(2 * var(--sizing-6)));
    z-index: 100;
    overflow: hidden;
    background-color: var(--secondary-color);
    transition: all var(--transition-time);
}

.mobileItemsBox {
    height: 150px;
}

.expandedState {
    height: calc(100vh - 100px);
}

.collapseState {
    height: var(--sizing-0);
}

.adminModeIndicator {
    color: var(--tertiary-color);
}