.filterButtonContainer {
    width: max-content;
    padding: var(--sizing-1);
    border: var(--border-size) solid var(--primary-color);
    border-radius: var(--sizing-3);
    transition: all var(--transition-time);
    user-select: none;
    box-shadow: var(--sizing-1) var(--sizing-1) var(--sizing-1) var(--box-shadow-color);
    cursor: pointer;
}

.filterButtonContainer:hover {
    border-color: var(--tertiary-color-hover);
}

.selected {
    color: var(--secondary-color);
    background-color: var(--tertiary-color);
    border-color: var(--tertiary-color);
}

.selected:hover {
    background-color: var(--tertiary-color-hover);
    border-color: var(--tertiary-color-hover);
}

.selected:active {
    background-color: var(--tertiary-color-active);
    border-color: var(--tertiary-color-active);
}

.blogFilterGap {
    gap: var(--sizing-3);
}

.blogClearFilters {
    color: #D80015;
    cursor: pointer;
    user-select: none;
}